#textdomain wesnoth-Era_Ivrim

#define EIv_UNITSTR
units/ivrim/hasmonee/hasmonee#enddef

[unit_type]
    id="hasmonee_seren"
    name= _ "Hasmonee Seren"
# roughly like loyalist Master Bowman
    race=ivrim
    gender=male
    image="{EIv_UNITSTR}-4.png"
    
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=67
    movement_type=orcishfoot
    movement=6
    experience=147
    level=3
    alignment=liminal
    advances_to=null
    {AMLA_DEFAULT}
    cost=49
    usage=archer
    undead_variation=human
	{IS_EXPENDABLE_LEADER}
    halo=halo/misc/leadership-flare-2.png
    [movement_costs]
            deep_water=4
    [/movement_costs]
    [defense]
            sand=60
    [/defense]
    [resistance]
	    cold=80
            arcane=70
    [/resistance]
    [abilities]
    	{ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    description= _ "Hasmonean Seren translates as captain; it is a company grade officers rank. They are stratecic field operators and leaders of smaller platoons in battle."
    die_sound={SOUND_LIST:HUMAN_DIE}
    get_hit_sound={SOUND_LIST:HUMAN_HIT}
    {DEFENSE_ANIM_RANGE "{EIv_UNITSTR}-4_defend.png" "{EIv_UNITSTR}-4.png" {SOUND_LIST:HUMAN_HIT} melee }
    {DEFENSE_ANIM_RANGE "{EIv_UNITSTR}-4_bow-defend.png" "{EIv_UNITSTR}-4.png" {SOUND_LIST:HUMAN_HIT} ranged }
    [attack]
        name=sword
        description= _"bronze sword"
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
        [/specials]
        icon=attacks/sword-bronce.png
    [/attack]
    [attack]
        name=sling
        description= _"sling"
        type=impact
        range=ranged
        damage=7
        number=6
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/sling.png
    [/attack]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=250
            image="{EIv_UNITSTR}-4_defend.png"
        [/frame]
        [frame]
            duration=500
            image="{EIv_UNITSTR}-4_melee1.png"
        [/frame]
        [frame]
            duration=100
            image="{EIv_UNITSTR}-4_defend.png"
        [/frame]
        [frame]
            duration=150
            image="{EIv_UNITSTR}-4_ranged1.png"
        [/frame]
	[frame]
            duration=150
            image="{EIv_UNITSTR}-4_ranged2.png"
        [/frame]
	[frame]
            duration=150
            image="{EIv_UNITSTR}-4_ranged3.png"
        [/frame]
        [frame]
            duration=250
            image="{EIv_UNITSTR}-4_defend.png"
        [/frame]
        [frame]
            duration=250
            image="{EIv_UNITSTR}-4_bow-defend.png"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image=projectiles/stone-n.png
            image_diagonal=projectiles/stone-ne.png
        [/missile_frame]
        [frame]
            begin=-500
            end=-375
            image={EIv_UNITSTR}-4_ranged1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-375
                end=-250
                image={EIv_UNITSTR}-4_ranged2.png
                sound=hatchet.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-375
                end=-250
                image={EIv_UNITSTR}-4_ranged2.png
                sound=hatchet-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=-250
            end=-125
            image={EIv_UNITSTR}-4_ranged3.png
        [/frame]
        [frame]
            begin=-125
            end=-100
            image={EIv_UNITSTR}-4_ranged4.png
        [/frame]
        [frame]
            begin=-100
            end=0
            image={EIv_UNITSTR}-4_ranged4.png
        [/frame]
        {SOUND:SLOW}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image={EIv_UNITSTR}-4_melee1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image={EIv_UNITSTR}-4_melee2.png
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image={EIv_UNITSTR}-4_melee2.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]

#undef EIv_UNITSTR
